# Backend - Drako House API

# Firebase Admin SDK
FIREBASE_PROJECT_ID=afiliados-e32b5
FIREBASE_DATABASE_URL=https://afiliados-e32b5-default-rtdb.firebaseio.com
FIREBASE_CLIENT_EMAIL=seu-email@afiliados-e32b5.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Servidor
PORT=3001
FRONTEND_URL=http://localhost:5173
